/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/



body {
  background-color: #bdc3c7;
  margin-left: 50px;
  margin-top: 50px;
  color: white;
}

.logo {
  padding: 2px;
  background-color: #e651aa;
  border-radius: 50%;
  position: absolute;
  left: 380px;
  top: 295px;
  z-index: 1;

}

.profil {
  width: 400px;
  box-shadow: 5px 5px 5px #31363b;
}

.jmeno {
  font-family: montserrat;
  font-size: 30px;
}

.obsah {
  padding: 50px;
  background-color: #313131;
  line-height: 1.8; 
  position: relative;
  bottom: 3px;
}

.vyvojarka, .jsemmachr {
  font-family: Source Code Pro;
  font-size: 16px;
  line-height: 1.8; 
}

.odkazy {
  position: relative;
  margin-bottom: 200px;
}

.portfolio, .facebook, .twitter {
  display: inline-block;
  background-color: #313131;
  font-family: Montserrat;
  padding: 20px;
  position: absolute;
  box-shadow: 5px 5px 5px #31363b;
  text-align: center;
}

.portfolio {
  width: 400px;
  border-top: 2px solid #bdc3c7;
  border-bottom: 2px solid #bdc3c7;
  right: 0;
  top: -20px;
  }

.portfolio a, .facebook a, .twitter a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.portfolio:hover {
  background-color: #e74c3c;
}

.facebook {
  width: 200px;
  border-right: 2px solid #bdc3c7;
  top: 43px;
  left: 0;
}

.facebook:hover {
  background-color: #3b5998;
}

.twitter {
  width: 200px;
  right: 0;
  top: 43px;
}

.twitter:hover {
  background-color: #1da1f2;
}


